body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #20232a;
  color: white;
  padding: 15px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li:hover,
.sidebar li.active {
  background: #444857;
}

.content {
  flex: 1;
  padding: 20px;
  background: white;
  overflow-y: auto;

  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}



.content h1 {
  margin-bottom: 55px;
}

.content h2 {
  margin-top: 85px;
  margin-bottom: 5px;
}

.content p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.content ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.content li {
  margin-bottom: 8px;
}







.img-small {
  max-width: 50px;
}

.img-medium {
  max-width: 300px;
}

.img-large {
  max-width: 500px;
}





.ppo-block {
  position: relative;
  padding-left: 16px;
  margin-bottom: 24px;
}

.ppo-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #ffd400;
  border-radius: 2px;
}



